{% extends layout_path %}

{% load static %}
{% load i18n %}

{% comment %}
O corpo desta página é partilhado com a área de cliente (apps/cliente/templates/logs.html).
Os dois ficheiros eram cópias byte a byte um do outro e corrigir um não corrigia o outro.
{% endcomment %}

{% block title %}Logs das variáveis - ORLIS{% endblock %}

{% block vendor_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/libs/apex-charts/apex-charts.css' %}" />
{% endblock vendor_css %}

{% block content %}
{% include "partials/_log_variaveis.html" %}
{% endblock content %}

{% block vendor_js %}
{{ block.super }}
<script src="{% static 'vendor/libs/apex-charts/apexcharts.js' %}"></script>
{% endblock vendor_js %}

{% block page_js %}
{{ block.super }}
{% include "partials/_log_variaveis_js.html" %}
{% endblock page_js %}
