{% extends layout_path %}
{% load static %}
{% load i18n %}

{% block title %}Login{% endblock %}

{% block vendor_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/libs/@form-validation/form-validation.css' %}" />
{% endblock vendor_css %}

{% block vendor_js %}
{{ block.super }}
<script src="{% static 'vendor/libs/@form-validation/popular.js' %}"></script>
<script src="{% static 'vendor/libs/@form-validation/bootstrap5.js' %}"></script>
<script src="{% static 'vendor/libs/@form-validation/auto-focus.js' %}"></script>
{% endblock vendor_js %}

{% block page_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static  'vendor/css/pages/page-auth.css' %}">
{% endblock page_css %}

{% block page_js %}
{{ block.super }}
<script src="{% static 'js/pages-auth.js' %}"></script>
{% endblock page_js %}

{% block content %}
<div class="container-xxl">
  <div class="authentication-wrapper authentication-basic container-p-y">
    <div class="authentication-inner">
      <div class="card px-sm-6 px-0">
        <div class="card-body">
          <div class="app-brand justify-content-center">
            <a href="{% url 'login' %}" class="app-brand-link gap-2">
              <span class="app-brand-logo-login demo">{% include 'partials/logo.html' with withbg="#696cff" %}</span>
            </a>
          </div>
          
          <h4 class="mb-1">Bem-vindo 👋</h4>
          <p class="mb-4">Faça login na sua conta.</p>

          {% if messages %}
          {% for message in messages %}
          <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endfor %}
          {% endif %}

          <form id="formAuthentication" class="mb-3" action="{% url 'login' %}" method="post">
            {% csrf_token %}
            
            <div class="mb-3">
              <label for="email" class="form-label">Email ou Username</label>
              <input type="text" class="form-control" id="email" name="email-username" placeholder="Entrar com email ou username" autofocus>
            </div>

            <div class="mb-3 form-password-toggle">
              <div class="d-flex justify-content-between">
                <label class="form-label" for="password">Password</label>
              </div>
              <div class="input-group input-group-merge">
                <input type="password" id="password" class="form-control" name="password" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="password" />
                <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
              </div>
            </div>

            <div class="mb-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="remember-me">
                <label class="form-check-label" for="remember-me">
                  Lembrar-me
                </label>
              </div>
            </div>

            <div class="mb-3">
              <button class="btn btn-primary d-grid w-100" type="submit" id="btnSubmit">
                 <span id="btnText">Entrar</span>
                 <span id="btnLoader" class="spinner-border spinner-border-sm text-white visually-hidden" role="status" aria-hidden="true"></span>
              </button>
            </div>
          </form>

          <p class="text-center">
            <span>É novo(a)? </span>
            <a href="{% url 'register' %}">
              <span>Criar uma conta</span>
            </a>
          </p>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}